version: '3.7'

services:
   db:
      image: mysql:8.0
      container_name: appsDB
      restart: always
      ports:
       - '6603:3306'
      environment:
        MYSQL_ROOT_PASSWORD: helloworld
   app:
      depends_on:
         - db
      image: phpmyadmin/phpmyadmin
      container_name: phpmyadmin
      restart: always
      ports:
       - '3000:80'
      environment:
        PMA_HOST: db
   client:
      container_name: react
      build:
         context: ./client
         dockerfile: Dockerfile
      volumes:
         - './client:/app'
         - '/app/node_modules'
      ports:
         - '8080:8080'
      stdin_open: true
      command: npm start